p {
    color:rgb(153, 68, 11);
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    text-decoration: dashed;
    margin-left: 300px;
    margin-right: 300px;
}


img {
    margin-left: 25px;
    width: 600px;
    height: 600px;
    border-radius: 10px
}

header {
    background-color: rgb(153, 68, 11);
    padding:0.5;
    text-align: center;
    margin-bottom: 50px;
}

.Sec {
    border-radius: 10px;
    background-color: rgb(153, 68, 11);
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    margin: 50px 300px;
}

.layover {
    margin-bottom: 50px;
    margin-left: 25px;
    width: 600px;
    height: 600px;
    border-radius: 10px
}

section {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    text-align: center;
    margin: 60px;
    border-radius: 10px;
}

h1 {
    color: rgb(153, 68, 11);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    margin: 30px;
}
li {
    color:rgb(153, 68, 11);
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: left;
    text-decoration: dashed;
    margin-left: 100px;
    margin-right: 2px;
}
ul {
    color:rgb(153, 68, 11);
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    text-decoration: dashed;
    margin-left: 350px;
    margin-right: 400px;
}

ol {
    color:rgb(153, 68, 11);
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    text-decoration: dashed;
    margin-left: 350px;
    margin-right: 400px;
}

h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    margin: 30px;
}

h3 {
    color: rgb(153, 68, 11);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 30px;
}